@using ChickenGang_Project.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/DetailLayout.cshtml";
}

<h2 style="margin-top:180px;">Tìm kiếm > @ViewBag.Key</h2>
<div class="product_content">

    @foreach (var item in Model)
    {
        <div class="product_item-food col-md-3">
            <img src="~/@item.HinhAnh" alt="">

            <div class="product_item-food-body">
                <h1>@item.TenSP</h1>
                <p>@item.DonGia VNĐ</p>
                <ul>
                    <li>@item.Mota</li>
                </ul>
            </div>

            <div class="product_item-food-btn ">
                <div class="btn ">
                    <a href="~/SanPham/Detail/@item.MaSP">Chi tiết</a>
                </div>

                <!--<div class="btn btn--order ">
        <a href="@Url.Action("ThemGioHang", "GioHang", new { @id = @item.MaSP, @strURL = Request.Url.ToString() })" class="btn btn-success flex-shrink-0 disabled" type="button" style="padding:6px; margin:0 16px">
            <i class="fa-solid fa-cart-plus me-1"></i>
            Thêm vào giỏ
        </a>-->
                @*<a href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.MaSP, @strURL = Request.Url.ToString()})">ĐẶT HÀNG</a>*@
                @*<a href="@Url.Action("KQTimKiem", "SearchController", new { @id = @ViewBag.key })"></a>*@
                <!--</div>-->

                <div class="btn btn--order col-2" style="padding: 5px 10px; display:flex; align-items: center; width: 100px;">
                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @id = @item.MaSP, @strURL = Request.Url.ToString() })" style="display: inline-block; margin: 0;">Thêm vào giỏ</a>
                </div>
            </div>
        </div>
    }

</div>



