@model ChickenGang_Project.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div class="container">
    <section class="py-5" style="margin-top:130px;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/@Html.DisplayFor(model => model.HinhAnh)" alt="..." /></div>
                <div class="col-md-6">

                    <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.TenSP)</h1>
                    <div class="fs-5 mb-5">
                        <span>@Html.DisplayFor(model => model.DonGia)</span>
                    </div>
                    <p class="lead">@Html.DisplayFor(model => model.Mota)</p>
                    <br />
                    <p class="lead">@Html.DisplayFor(model => model.Mota2)</p>
                    <br />
                    <p class="lead">@Html.DisplayFor(model => model.Mota3)</p>
                    @if (Model.DaXoa.Equals(1))
                    {
                        <br />
                        <h3 class="lead" style="color:red">Sản phẩm đã ngưng phục vụ</h3>
                    }


                </div>
            </div>
        </div>
    </section>
</div>

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @*@Html.Partial("~/Views/SanPham/SanPhamBonus.cshtml", lstbonus)*@

        </div>
    </div>
</section>

