@model ChickenGang_Project.Models.ThanhVien

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/DetailLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin:150px 100px 100px 100px">
        <h2 style="text-align:center">Đổi mật khẩu</h2>
        <br />

        <div class="form-group">
            <label class="control-label col-md-2" for="MatKhauCu">Mật khẩu cũ:</label>
                        <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu!"
                       id="MatKhauCu" name="MatKhauCu" type="password" value="" required>
                @ViewData["NhapMKCu"]
            </div>
                    </div>

        <div class="form-group align-content-center">
            <label class="control-label col-md-2" for="MatKhauMoi">Mật khẩu mới:</label>
                        <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu mới!"
                       id="MatKhauMoi" name="MatKhauMoi" type="password" value="" required>
                @ViewData["NhapMKMoi"]
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="XacNhanMatKhau">Xác nhận<br /> mật khẩu mới:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="XacNhanMatKhau" name="XacNhanMatKhau" type="password" value="" aria-
                       describedby="XacNhanMatKhau-error" aria-invalid="true" required>

                @ViewData["NhapMKXN"]
                @ViewData["MatKhauGiongNhau"]
            </div>
        </div>

        <div class="form-group text-right">
            <label class="control-label col-md-2" for="showPasswordCheckbox"></label>
            <input id="showPasswordCheckbox" type="checkbox" onclick="Toggle()"> Hiển thị mật khẩu
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    function Toggle() {
        var passwordFields = document.querySelectorAll("#MatKhauCu, #MatKhauMoi, #XacNhanMatKhau");
        passwordFields.forEach(function (field) {
            field.type = (field.type === "password") ? "text" : "password";
        });
    }
</script>
