
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Layout/DetailLayout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal" style="margin:300px 100px 110px 100px">
    <div class="form-group">
        <label class="control-label col-md-2" for="EmailCheck">
            Nhập Email <br /> của bạn:
        </label>

        <div class="col-md-10">
            <input class="form-control text-box single-line input-validation-error"
                   data-val="true" data-val-required="Phải nhập !"
                   name="EmailCheck" type="email" value="" required>
            @ViewData["NhapEmail"]
            @ViewData["EmailSai"]
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="CauHoiBiMat">
            Câu hỏi bí mật <br /> của bạn:
        </label>

        <div class="col-md-10">
            <input class="form-control text-box single-line input-validation-error"
                   data-val="true" data-val-required="Phải nhập !"
                   name="CauHoiBiMat" type="text" value="" required>
            @ViewData["CauHoiSai"]
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="CauTraLoi">
            Câu trả lời <br /> của bạn:
        </label>

        <div class="col-md-10">
            <input class="form-control text-box single-line input-validation-error"
                   data-val="true" data-val-required="Phải nhập !"
                   name="CauTraLoi" type="text" value="" required>
            @ViewData["CauHoiSai"]
        </div>

    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Gửi" class="btn btn-default" />
        </div>
    </div>
</div>


}
