
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Layout/DetailLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin:300px 100px 110px 100px">


        <div class="form-group align-content-center">
            <label class="control-label col-md-2" for="ResetMatKhauMoi">
                Mật khẩu mới:
            </label>

            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu mới!"
                       id="MatKhauMoi" name="ResetMatKhauMoi" type="password" value="" required>
                @ViewData["NhapMKMoi"]
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MatKhauXN">
                Xác nhận<br /> mật khẩu mới:
            </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="MatKhauXN" name="MatKhauXN" type="password" value="" aria-
                       describedby="XacNhanMatKhau-error" aria-invalid="true" required>

                @ViewData["NhapMKXN"]
                @ViewData["MatKhauGiongNhau"]
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về trang chủ", "Index", "Home")
</div>


